<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Magic</strong> par Alexandre Morvan</a>. The source code is licensed.
        </p>
    </div>
</footer>
</body>

</html>